nav {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    color :black;
    font-size: 22px;
    padding:15px;
}
    a:link {
  color: black;
}
    a:visited {
  color: black;
}
.nav-item {
    width: 100%;
    font-size: 100%;
    margin-left: 15px;
    margin-right: 15PX;
}

ul {
    background-color: lightgrey;
    display: flex;
    list-style-type: none;
    margin: 0;
    width: auto;
  }

li {
    border-width:1px;
    border-style:solid; 
    border-color:rgb(0, 0, 0);
}

#Tableau h1 {
    display: flex;
    justify-content: center;
}
.test {
   display: flex;
   justify-content: center;
}
